
BirdSNES.VC.db
Tests/*
.vs/
*.obj
*.ipch
Src/MiniZ/examples/*
*.recipe
*.ilk
*.enc
*.iobj
*.pdb
*.tlog
*.ipdb

!Research/nes-test-roms-master/
!Research/Instructions/
*.sdf
*.user
*.lib
*.exe
*.idb
*.log

/BirdSNES/Win32
/BirdSNES/x64

/x64
/Win32

Libraries/ExpressionEvaluator/x64/*
Libraries/ExpressionEvaluator/Win32/*
Libraries/LSWindows/x64/*
Libraries/LSWindows/Win32/*
Libraries/LSon/x64/*
Libraries/LSon/Win32/*

Licenses.txt




# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM
packages/
*.nupkg

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/

.DS_Store
/Research/65816
/Research/spc700
Research/65816.zip
Research/spc700.zip
Research/bsnes-master.zip
/Research/SNES_S-CPU_Schematics-0.1
Research/SNES_S-CPU_Schematics-0.1.zip
